name: iOS Starter Workflow

on:
 push:
  branches: ["main"]
 pull_request:
  branches: ["main"]
  
jobs:
 build-and-test:
  runs-on: macos-13
  
  steps:
    - uses: actions/checkout@v3
    - name: Select Xcode
      run: sudo Xcode-select -switch /Applications/Xcode_14.3.app/Contents/Developer
    - name: Build 
      run: xcodebuild clean build -project GameCatalog.xcodeproj -scheme GameCatalog -destination 'platform=iOS Simulator,name=iPhone 14 Pro,OS=16.4'
